@model ProductVM
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model.Products.Count==0)
{
    <div>
        henüz ürün bulunmamaktadır.Eklemek için <a asp-action="AddProduct"asp-controller="Product">Tıklayınız</a>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>Product Name</th>
        <th>Units In Stock</th>
        <th>Category Name</th>
    </tr>
    @foreach (Product item in Model.Products)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.UnitInStock</td>
            @if (item.Category.CategoryName != null)
            {
            <td>@item.Category.CategoryName</td>
            }
            else
            {
            <td>kategori belirtilmemiş</td>
            }
            <td><a class="btn btn-warning" asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.ID">Güncelle</a></td>
            <td><a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@item.ID">Sil</a></td>
        </tr>
    }
</table>
