@model ProductVM
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-hover">
    <tr>
        <th>Product Name</th>
        <th>Units In Stock</th>
        <th>Category Name</th>
    </tr>
    @foreach (Product item in Model.Products)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.UnitInStock</td>
            if (item.Category.CategoryName != null)
            {
            <td>@item.Category.CategoryName</td>
            }
            else
            {
            <td>kategori belirtilmemiş</td>
            }
            <td><a asp-action="AddCategory" asp-controller="Product" asp-route-id="@item.ID"></a></td>
            <td><a asp-action="UpdateCategory" asp-controller="Product" asp-route-id="@item.ID"></a></td>
        </tr>
    }
</table>
