@model ProductVM
@{
    ViewData["Title"] = "ProductList";
}

<h1>ProductList</h1>

<table class="table table-hover">
    <tr>
        <th>Product Name</th>
        <th>Units In Stock</th>
        <th>Category Name</th>
        <th colspan="2" style="text-align:center">Options</th>
    </tr>
    @foreach (Product item in Model.Products)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.UnitInStock</td>
            @if (item.Category.CategoryName != null)
            {
            <td>@item.Category.CategoryName</td>
            }
            else
            {
            <td>no category</td>
            }
            <td><a class="btn btn-warning" asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.ID"> Update</a></td>
            <td><a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@item.ID">Delete</a></td>
        </tr>
    }
</table>
